body {
  padding-top: 75px;
}
.row {
  margin-bottom: 30px;
}
.input-pair {
  overflow: hidden;
}
.input-pair .form-control {
  float: left;
  width: 50%;
}
.input-pair .form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.input-pair .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
span.details {
  display: none;
}
.repeatable {
  margin-bottom: 5px;
}
.duplicate-profile .page-header {
  margin: 0;
}
.duplicate-profile h2 {
  font-size: 24px;
}
.duplicate-profile h3 {
  font-size: 18px;
}
